@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #2c2c2e;
}
.wrapper{
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.form{
    padding: 25px 30px;
}
.form header{
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #e6e6e6;
}
.form form{
    margin: 20px 0;
}
.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.form a{
    background-color: #333;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.form a .botao{
    background-color: #333;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form a .botao:hover{
    background-color: #444;
}
.form .field .imagem{
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.form .field .imagem img{
    height: 250px; 
    width: 250px;
}
.char{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.tabela{
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 500px;
    overflow-y: scroll;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.wrapper .botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 6px;
    height: 30px;
    margin: -20px 10px 10px 10px;
    color: #fff;
}
.wrapper .voltar{
    background-color: rgb(68, 68, 85);
}