{% extends "layout.html" %}
{% block title %}Pokedex{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block navbar %}
    <div class="sidenav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="{{url_for('home')}}">Pokemons</a></li>
            <li><a class="active" href="{{url_for('favorito')}}">Favoritos</a></li>
            <li><a href="{{url_for('times')}}">MeuTime</a></li>
            <li><a href="#">Sobre</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="slide-container">
        {% for pokemon in pokemons %}
        <a href="{{url_for('detalhes', id=pokemon['id'])}}">
             
        <div class="wrapper">
            <div class="clash-card barbarian">
                <div class="clash-card__image clash-card__image--barbarian">
                <img src="{{ pokemon['sprites']['other']['official-artwork']['front_default'] }}" alt="barbarian" />
                </div>
                <div class="clash-card__unit-name">{{ pokemon['name'] | capitalize }}</div>           
                <div class="clash-card__unit-stats pokemon clearfix">
                    {% for type in pokemon['types'] %}
                    <div class="one-third {{ type['type']['name'] }}">
                        <div class="stat-value">{{ type['type']['name'] | capitalize }}</div>
                    </div>
                    {% endfor %}       
                </div>            
            </div> <!-- end clash-card barbarian-->
        </div>
        </a>  <!-- end wrapper --> 
        {% endfor %}          
    </div><!-- end container -->     
    
{% endblock %}