<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeAPI | Nova Conta</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">
</head>
<body>
    <div class="wrapper">
        <section class="form singup">
            <header>Criando nova conta</header>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="field input">
                    <label>Nome de Usuario</label>
                    {{ form.username }}
                </div>
                <div class="field input">
                    <label>Senha</label>
                    {{ form.password }}
                    <i class="fas fa-eye"></i>
                </div>
                <div class="field button">                    
                    {{ form.submit }}
                </div>
            </form>            
        </section>
    </div>
    <script>
        const pswrdField = document.querySelector(".form input[type='password']"),
        toggleBtn = document.querySelector(".form .field i");

        toggleBtn.onclick = ()=>{
            if(pswrdField.type == "password"){
                pswrdField.type = "text";
                toggleBtn.classList.add("active");
            }else{
                pswrdField.type = "password";
                toggleBtn.classList.remove("active");
            }
        }
    </script>
</body>
</html>